*, ::before, ::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background: #0f0f0f;
	text-align: center;
}

/*****************************/

.loader {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.lettre {
	color: #484848;
	font-size: 80px;
	letter-spacing: 15px;
	margin-bottom: 150px;
	animation: flash 1.2s linear infinite;
}

@keyframes flash {
	0%{
		color : #fff900;
		text-shadow: 0 0 7px #fff900;
	}
	90%{
		color: #484848;
		text-shadow: none;
	}
	100%{
		color : #fff900;
		text-shadow: 0 0 7px #fff900;
	}
}

.lettre:nth-child(1) {
	animation-delay: 0.1s ;
}
.lettre:nth-child(2) {
	animation-delay: 0.2s ;
}
.lettre:nth-child(3) {
	animation-delay: 0.3s ;
}
.lettre:nth-child(4) {
	animation-delay: 0.4s ;
}
.lettre:nth-child(5) {
	animation-delay: 0.5s ;
}
.lettre:nth-child(6) {
	animation-delay: 0.6s ;
}
.lettre:nth-child(7) {
	animation-delay: 0.7s ;
}
.lettre:nth-child(8) {
	animation-delay: 0.8s ;
}
.lettre:nth-child(9) {
	animation-delay: 0.9s ;
}
.lettre:nth-child(10) {
	animation-delay: 1s ;
}

.fondu-out {
	opacity: 0;
	transition : opacity 0.4s ease-out;
}

/*******************************/
h1 {
	font-family: Open sans;
	font-weight: 400;
	font-size: 50px;
	color: #fff;
	display: inline-block;
	margin : 0 auto;
	margin-top: 20%;
	position: relative;
}

h1::after {
	content: "";
	position: absolute;
	display: block;
	height: 100%;
	width: 3px;
	background: #fff;
	right: -15px;
	top: 0;
	animation: cursor 1s infinite;
}

@keyframes cursor
{
	0%
	{
		opacity: 1;
	}
	50%
	{
		opacity: 0;
	}
	100%
	{
		opacity: 1;
	}
}

/*********************************/
.code {
	width: 100%;
	height: 100%;
	background: #fff;
	border: 2px solid #000;
	border-radius: 5px;
	text-align: left;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

h2 {

	margin-left: 2%;
}

.biblio {
	color : #000;
}

.point {
	color : #968B89
}

.nom {
	color: #063FB3;
}

.valeur {
	color : #F38000;
}

.commentaire {
	color: #84817D;
}


.container {
    display: grid;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 40%;
}


/************************/

a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  transition: 1.5s;
}

a:hover {
	color: #a80000;
}



